header{
background-image: linear-gradient(to right,#7E23D9 , #9943EE, #6A89E4);
    height: 60px;
    display: flex;
    align-items: center;
    padding:  0 20px;
}
.dslivros-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}
.dslivros-nav-content h1{
margin: 0;
    font-family: 'Sansita Swashed', cursive;
    color: #020228;
    font-weight: 800;
    font-size:  30px;

}
.dslivros-contact{
    display: flex;
    align-items: center;
}
.img{
    width: 40px;
}

.dslivros-contact-link{
    margin: 0 10px;
    font-size: 12px;
}